html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    background-color: #41C9E2;
    color: white;
    text-align: center;
    padding: 10px;
}





